/* Tile - Variables */

:root {
  --tile-background-color: var(--colors-white);
  --tile-gap: var(--spacing-grid-100);
  --tile-font-size: var(--body-text-small-font-size);
  --tile-border-radius: 12px;
}

.online-boefje {
  --tile-background-color: rgb(0 225 255 / 67.1%);
}
