{% load i18n %}
{% load static %}
{% load compress %}
{% load component_tags %}

<div role="group"
     class="online-boefje plugin {% if online_plugin.enabled %} plugin-is-enabled {% else %} plugin-is-disabled {% endif %}"
     id="plugin_{{ online_plugin.id|slugify }}">
    <img loading="lazy"
         src="{% url "plugin_cover" organization_code=organization.code plugin_id=online_plugin.id %}"
         alt="boefje placeholder image" />
    <p class="tile-title">
        <strong>{{ online_plugin.name }}</strong><span class="label-plugin-type {{ online_plugin.type }}">{{ online_plugin.type|title }}</span>
    </p>
    {% if online_plugin.description %}<p class="tile-description">{{ online_plugin.description }}</p>{% endif %}
    {% if not show_meta %}
        {% if online_plugin.type == "boefje" %}
            <div class="horizontal-view scan-intensity">
                <ul class="level-indicator l{{ online_plugin.scan_level }}">
                    {% for i in "1234"|make_list %}<li></li>{% endfor %}
                </ul>
            </div>
        {% endif %}
        <span class="plugin-author-link de-emphasized"><a target="_blank" href="https://openkat.nl" rel="noopener noreferrer">OpenKAT</a></span>
        {% if show_report_types %}
            {% for plugin_id, report_types in plugin_report_types.items %}
                {% if plugin_id == online_plugin.id %}
                    {% if report_types|length >= 2 %}
                        {% include "partials/modal_report_types.html" with plugin=online_plugin %}

                    {% else %}
                        <ul class="tags report-types">
                            {% for report_type in report_types %}
                                <li>
                                    <label for="report-types-required-for-plugin">{% translate "Required for:" %}</label>
                                    <span class="tags-color-{{ report_type.label_style }}">{{ report_type.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="action-buttons">
            {% if not remove_action_buttons %}
                {% include "partials/enable_disable_plugin.html" with plugin=online_plugin %}

            {% endif %}
            {% if show_report_types %}
                {% include "partials/plugin_tile_modal.html" with plugin=online_plugin %}

            {% else %}
                {% if online_plugin.type == "boefje" %}
                    <a class="tile-detail-link"
                       href="{% url "boefje_detail" organization_code=organization.code plugin_id=online_plugin.id %}">{% translate "See details" %}</a>
                {% else %}
                    <a class="tile-detail-link"
                       href="{% url "normalizer_detail" organization_code=organization.code plugin_id=online_plugin.id %}">{% translate "See details" %}</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
</div>
{% block html_at_end_body %}
    <script src="{% static "modal/script.js" %}" nonce="{{ request.csp_nonce }}" type="module"></script>
{% endblock html_at_end_body %}
